html {
  min-height: 100%;
}
body {
  background: rgb(7, 151, 149);
  background: linear-gradient(
    27deg,
    rgba(7, 151, 149, 1) 8%,
    rgba(65, 141, 150, 1) 29%,
    rgba(65, 141, 150, 1) 42%,
    rgba(30, 200, 152, 1) 61%,
    rgba(12, 165, 103, 1) 79%,
    rgba(24, 196, 159, 1) 100%
  );
  background-size: 100%;
  min-height: 100%;
}
form {
  padding: 20px;
  margin-top: 60px;
  border-radius: 20px;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

button {
  border-radius: 20px !important;
}
